@using TDMWeb.Extensions
@model LaefazWeb.Models.Parametro

@{
    ViewBag.Title = "Parametros";
}

@section styles {
    <style type="text/css">
        .form-control[readonly] {
            background-color: white;
        }
    </style>
}

@using (Html.BeginForm("SalvarEdicao", "Parametro", FormMethod.Post, new { @class = "formLoading", enctype = "multipart/form-data" }))
{
    <input type="hidden" name="MAX_FILE_SIZE" value="314572800" />
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Editar Parâmetro</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-4 form-group">
                    @Html.Label("descricao", "Descrição")
                    @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control", required = "required" })
                    @Html.HiddenFor(m => m.Id, new { Id = "id" })
                </div>
                <div class="col-xs-4 form-group">
                    @Html.Label("nome-tecnico-tosca", "Nome Técnico Tosca")
                    @Html.TextBoxFor(m => m.ColunaTecnicaTosca, new { @class = "form-control", required = "required" })
                </div>

                <div class="col-xs-4 form-group">
                    @Html.Label("tipo-de-dado", "Tipo de dado")
                    @Html.HiddenFor(m => m.Tipo, new { Id = "tipo_dado_parametro" })
                    @Html.DropDownList("tipo_dado_parametro", new SelectList(ViewBag.TipoDadoParametro, "Descricao", "Descricao"),null, new
               {
                   @class = "form-control",
                   @id = "list_tipo_dado_parametro",
                   @style = "width: 100%; padding-right: 12px; padding-left: 12px; border-right-width: 1px;",
                   @required = "required",
                   
               }
         )
                </div>
            </div>
            <div class="box-footer" align="right">
                <a href="@Url.Action("Index", "Parametro")" class="btn btn-danger" id="cancelar">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>

    </div>
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            
            // get the OPTION we want selected
            var list = $('#list_tipo_dado_parametro').children('option[value="@Model.Tipo"]');
            // and now set the option we want selected
            list.attr('selected', true);

          

          
        });
    </script>
}
