@using TDMWeb.Extensions
@model LaefazWeb.Models.TDM

@{
    ViewBag.Title = "Projetos TDM";
}

@section styles {
    <style type="text/css">
        .form-control[readonly] {
            background-color: white;
        }
    </style>
}

@using (Html.BeginForm("SalvarEdicao", "TDM", FormMethod.Post, new { @class = "formLoading", enctype = "multipart/form-data" }))
{
    <input type="hidden" name="MAX_FILE_SIZE" value="314572800" />
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Editar TDM</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                @Html.Label("descricao", "Descrição")
                @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control", required = "required" })
                @Html.HiddenFor(m => m.Id, new { Id ="id" })
                @*@Html.HiddenFor(m => m.TdmPublico, new { Id = "idTdmPublico" })*@
            </div>
            @*<div class="form-group">
                @Html.Label("tdm_descricao", "TDM Público?")
                @Html.DropDownList("listTdmPublico", new SelectList(ViewBag.listaTdmPublico, "key", "value"), "", new
                   {
                       @class = "form-control",
                       @id = "list-tdm-publico",
                       @style = "width: 100%; padding-right: 12px; padding-left: 12px; border-right-width: 1px;",
                       @required = "required",
                   }
                )
                @Html.Label("tdm_publico", "TDM Público?")
            @Html.TextBox("tdm_publico", null, new { @class = "form-control", required = "required" })
            </div>*@

        </div>
        <div class="box-footer" align="right">
            <a href="@Url.Action("Index", "TDM")" class="btn btn-danger" id="cancelar">Cancelar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            //var id = $('#idTdmPublico').attr("value");
            //// get the OPTION we want selected
            //if (id == "False") {
            //    id = 0;
            //} else {
            //    id = 1;
            //}
            //var $option = $('#list-tdm-publico').children('option[value="' + id + '"]');
            //// and now set the option we want selected
            //$option.attr('selected', true);
        });
    </script>
}
